{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  {% url 'dam_inventory:drought' as drought_map_url %}
  {% url 'dam_inventory:drought_nwmfx' as drought_map_nwmfx_url %}
  {% url 'dam_inventory:drought_outlook' as drought_map_outlook_url %}
  {% url 'dam_inventory:drought_index' as drought_map_index_url %}
  {% url 'dam_inventory:drought_prec' as drought_map_prec_url %}
  {% url 'dam_inventory:drought_4pane' as drought_4pane_map_url %}
  <!--{% url 'dam_inventory:home' as home_url %}-->
  <!--{% url 'dam_inventory:add_dam' as add_dam_url %}-->
  <!--{% url 'dam_inventory:dams' as list_dam_url %}-->
  <li class="title">Navigation</li>
  <li class="{% if request.path == drought_map_url %}active{% endif %}"><a href="{{ drought_map_url }}">Drought Main Map</a></li>
  <li class="{% if request.path == drought_map_nwmfx_url %}active{% endif %}"><a href="{{ drought_map_nwmfx_url }}">Drought NWM Forecast Map</a></li>
  <li class="{% if request.path == drought_map_outlook_url %}active{% endif %}"><a href="{{ drought_map_outlook_url }}">Drought Outlook Map</a></li>
  <li class="{% if request.path == drought_map_index_url %}active{% endif %}"><a href="{{ drought_map_index_url }}">Drought Index Map</a></li>
  <li class="{% if request.path == drought_map_prec_url %}active{% endif %}"><a href="{{ drought_map_prec_url }}">Drought Precip Map</a></li>
  <li class="{% if request.path == drought_4pane_map_url %}active{% endif %}"><a href="{{ drought_4pane_map_url }}">Drought 4-Pane Map</a></li>
  <!--<li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>-->
  <!--<li class="{% if request.path == list_dam_url %}active{% endif %}"><a href="{{ list_dam_url }}">Dams</a></li>-->
  <!--<li class="{% if request.path == add_dam_url %}active{% endif %}"><a href="{{ add_dam_url }}">Add Dam</a></li>-->
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'dam_inventory/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'dam_inventory/js/main.js' %}" type="text/javascript"></script>
{% endblock %}